.tg {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0px auto;
	width: 100%;
	margin: 5px;
	td {
		border: 1px solid #c0c0c0;
		font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
		font-size: 14px;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
		text-align: middle;
		background: #efefef;
	}
	th {
		border: 1px solid #c0c0c0;
		font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
		font-size: 14px;
		font-weight: normal;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}
	.tg-9wq8 {
		border-color: inherit;
		text-align: center;
		vertical-align: middle;
	}
	.tg-1wig {
		border-color: inherit;
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
		font-weight: bold;
	}
	.tg-0lax {
		border-color: inherit;
		text-align: center;
		vertical-align: middle;
		font-size: 12px;
	}
}
