.tyt_body_quality_manual {

    text-align: justify;
    text-justify: inter-word;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;

    h1.colored {
        color: #477da1;
    }


    h2.colored {
        color: #477da2;
    }


    h3.colored {
        color: #477da3;
    }


    h4.colored {
        color: #477da4;
    }


    h5.colored {
        color: #477da5;
    }


    h6.colored {
        color: #477da6;
    }
}
