.o_toggle_switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 15px;
    background-color: #ccc; /* Default background */
    transition: background-color 0.4s; /* Smooth background transition */

    input {
        display: none; /* Hide the checkbox */
    }

    span {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 21px;
        height: 21px;
        background-color: white; /* Color of the slider (toggle circle) */
        border-radius: 50%; /* Make the slider circular */
        transition: 0.4s; /* Smooth transition when moving */
    }

    /* The following is triggered when the checkbox is checked */
    input:checked + span {
        transform: translateX(24px); /* Moves the slider to the right */
    }

    /* Change the container (label's) background color when checked */
    input:checked {
        background-color: #28a745; /* Turns green when checked */
    }

    /* Optional: Add a checkmark inside the slider when checked */
    input:checked + span::after {
        content: "\f00c"; /* Checkmark symbol (from FontAwesome) */
        font-family: FontAwesome;
        color: white;
        position: absolute;
        top: 4px;
        left: 4px;
    }
}

.o_toggle_switch input:checked {

    .o_toggle_switch {
        background-color: #28a745; /* Slider circle changes */
    }
}

#msform label {
    font-size: 0.9em;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

#msform .mailbox-select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}
