@font-face {
    font-family: 'BebasNeue';
    src: url('/tyt_process/static/src/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/tyt_process/static/src/fonts/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/tyt_process/static/src/fonts/Calibri-Regular.ttf') format('truetype');
    font-style: normal;
}
