.titulo-celda {
    width: 110px !important;
}

.table-bcs-10px {
    border-collapse:separate; border-spacing: 10px;
}

.sc-fs-14px {
    font-size: 14px;
}

.sc-fs-16px {
    font-size: 16px;
}
.sc-fs-18px {
    font-size: 18px;
}

.sc-fw-bold {
    font-weight: bold !important;
}

.sc-w-350px {
    width: 350px;
}